@use "../presets/" as *;
@use "../mixins/" as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: $color-warning;
  z-index: -2;
}

.bg-img {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-position: 50% 50%;
  object-fit: cover;
}

.container {
  display: flex;
  margin: auto;
  max-width: $ul;
  justify-content: space-between;
  width: calc(100% - 30px);

  @media (max-width: $lg) {
    flex-wrap: wrap;
  }
}
